<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="img-thumbnail rounded-circle " width="200" src="img/ertiga.jpeg" alt="taufiqkba">
            <h1>Taufiq Kurniawan</h1>
            <div class="lead">Software Engineer</div>
        </div>
    </div>
</div>